body {
    font-family: Arial;
    text-align: center;
    margin-top: 100px;
}

input {
    padding: 10px;
    margin: 10px;
    width: 200px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}
